{SERVER_IP_ADDRESS}.sslip.io {

    log {
        output stdout
        level INFO
    }

    encode gzip zstd

    request_body {
        max_size 2MB
    }

    reverse_proxy /* AiogramShopBot:5000
}
