aiogram==3.14.0
alembic==1.14.0
asyncpg==0.31.0
fastapi==0.115.12
kryptoexpress-sdk==0.1.1
matplotlib==3.10.7
passlib==1.7.4
pillow==12.1.0
pydantic==2.9.2
pyngrok==7.2.1
python-dotenv==1.0.1
python-jose==3.5.0
python-multipart==0.0.21
qrcode==8.2
redis==6.0.0
sqladmin==0.22.0
SQLAlchemy==2.0.36
uvicorn==0.34.2

# Test dependencies
pytest==8.4.2
pytest-asyncio==1.2.0
